<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test game</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="container">

		<ul class="participants">
			<li v-for='(participant, index) in participants' class="participant">

				<p>Участник номер {{participant.number}}</p>
				<p>Статус: {{participant.status}}</p>
				<p>Ресурсов: {{participant.actions}}</p>
				<p>Претендует на: {{participant.want}}</p>
				<p>Готов купить у: {{participant.at[0]}}, {{participant.at[1]}}, {{participant.at[2]}}</p>
				<p>Готов продать: {{participant.pretender[0]}}, {{participant.pretender[1]}}, {{participant.pretender[2]}}</p>
				<p>Покупаю у: {{participant.purchase}}</p>
				
			</li>
		</ul>

		<table>
			<tr>
				<!-- <td ref="name"></td> -->
				<td ref="name"></td>
				<td v-for='participantTable in participantsTable'>{{participantTable.number}}</td>
			</tr>
			<tr v-for='(participantTable, indexTr) in participantsTable'>
				<td>{{participantTable.number}}</td>
				<td v-for='(participantTable, indexTd) in participantsTable'>*</td>
			</tr>
		</table>
		
		<div id="panel"></div>

	</div>

	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="common.js"></script>
	
</body>
</html>

<!-- 
- рандомизатор нужно поправлять
- один раз не отобразился банкир
- распределять по файлам
- использовать классы
	js ООП; классы
 -->