<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test game</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="container">

		<ul class="participants">
			<li v-for='(participant, index) in participants' class="participant" v-bind:class="[{playerStyle: participant.playerJS}, {opacityStyle: participant.opacityJS}]">

				<p>Участник номер {{participant.number}}</p>
				<!-- <p>Роль: {{participant.status}}</p> -->
				<p>Ресурсов: {{participant.actions}}</p>
				<p>Претендует на: {{participant.wantResourse}}</p>
				<!-- <p>Покупаю у: {{participant.purchase}}</p> -->
				
			</li>
		</ul>
		
		<div id="panel">

			<input id="deactivate" type="button" value="Убираем банкротов" v-on:click="deactivate">

			<input id="exchange" type="button" value="Обмен" v-on:click="exchange">

			<div id="count">Шагов: {{count}}</div>

			<ul class="container_keys">
				<li v-for="(key, indexKey) in keys"><button :disabled="key.disabledJS" v-bind:class="{opacityStyleButton: key.disabledJS}" v-on:click="ourExchange(indexKey)">{{key.number}}</button></li>
			</ul>
			
		</div>

	</div>

	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="common.js"></script>
	
</body>
</html>

<!-- 
- распределять по файлам
- использовать классы
	js ООП; классы

	if (seller == undefined || numberSeller == undefined) 
		Такого рода условия наверняка можно записать как-то кратче



 -->